/* All Section */
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.col-2{
    display: grid;
    grid-template-columns: 50% 50%;
}



/* Header Section */
header{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
}

header p{
    padding: 2px 20px;
}


/* Nav Section */
nav{
    background-color: #ffffff;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul>a{
    background-color: rgb(28, 60, 49);
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px;
}

nav ul>a:hover{
    background-color: rgb(56, 117, 96);
    color: #d3d2d2;
    transition: .4s;
}

nav ul li{
    list-style: none;
    padding: 5px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover{
    border-bottom: 2px solid rgb(56, 117, 96);
    border-top: 2px solid rgb(56, 117, 96);
    color: #12ddd6;
    transition: .2s;
}

nav ul form{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

nav ul form span{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

nav ul form span:hover{
    background-color: #272727;
    color: #ababab;
    transition: .4s;
}

nav ul>i{
   margin-right: 30px;
}


/* Banner Section */
#banner{
    background-color: #e2fdfd;
    display: flex;
}

#banner>div{
    width: 50%;
}

#banner .bannerImg{
    background-image: url("../img/cover.png");
    background-repeat: no-repeat;
    margin-top: 50px;
}

#banner .bannerImg:hover{
   transform:translate(-3rem, 4ex);
   transition: .4s;
}

#banner .bannerText{
    padding:5% 10%;
}

#banner .bannerText>h1{
    font-size: 50px;
}

#banner .bannerText>a{
    text-decoration: none;
    border: 1px solid #12ddd6;
    color: #12ddd6;
    padding: 5px;
    border-radius: 5px;
}

#banner .bannerText>a:hover{
    background-color: #075a76;
    color: #e2fdfd;
    transition: .4s;
}


/* Product Section */
#product{
    padding: 50px 100px;
}

#featuredProduct {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 10px;
    overflow: hidden;
}

#featuredProduct> div{
    height: 100%;
}

.featuredProductCard{
    position: relative;
}

#featuredProduct div> img{
    width: 100%;
}


#featuredProduct .col-2> div{
    padding-top: 5px;
}

#featuredProduct .col-2> div:nth-child(2){
    padding-left: 10px;
}

#featuredProduct .productWaterMark{
    display: flex;
    flex-direction: column;
    background-color: #0329367c;
    align-items: center;
    height: 60%;
    width: 100%;
    justify-content: center;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* visibility: hidden; */
}

#featuredProduct .productWaterMark  h3,
#featuredProduct .productWaterMark p,
#featuredProduct .productWaterMark button{
    color: rgb(141, 39, 39);
    margin: 0;
}

/* #featuredProduct:hover .productWaterMark{
    visibility:visible;
} */

/* New Arrival Section */
#NewArrivalSection{
    display: grid;
    grid-template-columns:24.5% 24.5% 24.5% 24.5%;
    grid-gap: .68%;
}

#NewArrivalSection> div{
    margin-bottom: 50px;
    border: 5px solid #E2FDFD;
    padding: 10px;
    border-radius: 10px;
}

 .productImageFooter{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.productImageFooter h4{
    margin: auto;
    margin-top: 10px;
    color: #075a76;
 }

.productImageFooter button{
    margin: auto;
    margin-top: 5px;
    color: #075a76;
    padding: 5px;
    border: 1px solid #075a76;
    border-radius: 5px;
 }

.productImageFooter button:hover{
    background-color: #032936;
    color: #ffffff;
    transition: .4s;
 }

#NewArrivalSection div> img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.showAll{
    width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.showAll> button{
   padding: 5px;
   color: red;
   font-weight: 900;
   border-radius: 5px;
}


/* Other section */
#others{
    margin-top: 50px;
}

#others .col-4{
    display: grid;
    grid-template-columns:24.5% 24.5% 24.5% 24.5%;
    grid-gap: .68%;
}

#others .col-4 img {
    width: 100%;
    height: 70%;
}


/* Contact Section */
#ContactSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 30px;
}


/* Footer Section */

#topFooter{
    display: grid;
    grid-template-columns:24.5% 24.5% 24.5% 24.5%;
    grid-gap: .68%;
    padding: 20px;
    background-color: #000000;
}


#topFooter div{
    color: #ffffff;
    padding: 10px;
}

#topFooter div h3{
    margin: 0px 0px 10px 0px;
}

#topFooter div ul{
    margin: 0;
    padding: 0;
}

#topFooter div ul li{
    list-style: none;
    color: #ffffff;
}

#bottomFotter{
    background-color: #032936;
}

#bottomFotter{
    display: flex;
}

#bottomFotter> p{
    margin: auto;
    color: #ffffff;
    padding: 10px;
}